__pycache__/
logs/
pretrained_weight/
wandb/
demo/
pseudo_label/
model/GRAttVIS
model/torchscale
*checkpoints*
*mytest*
*swattention_extension*
*png*
model/EVF-SAM/
model/vis/
model/SwinSMT/
compare/
model/mask2former/pixel_decoder/ops/

## only keep specific files from SAM2
model/SAM2/*
!model/SAM2/sam2/
model/SAM2/sam2/*
!model/SAM2/sam2/modeling/
model/SAM2/sam2/modeling/backbones
!model/SAM2/sam2/utils/
model/SAM2/sam2/utils/*
!model/SAM2/sam2/utils/misc.py

## files in needle_seg_det
*loss*
anchors.py
*evaluation*
*test*
*train*
*pseudolabel*
*pretrained_weight*
*model*
*demo*
*checkpoints*
*kfold*