*__pycache__*
pretrained_weight/
demo/
pseudo_label/
# model/GRAttVIS
# model/torchscale
*checkpoints*
*mytest*
*swattention_extension*
*png*
# model/EVF-SAM/
# model/vis/
# model/SwinSMT/
# compare/
# model/mask2former/pixel_decoder/ops/


## files in needle_seg_det
*loss*
anchors.py
*evaluation*
*test*
*train*
*pseudolabel*
*pretrained_weight*
model/SAM2
model/mask2former/deAOT.py
*demo*
*checkpoints*
*kfold*
post_processing.py
visualization.py
inference.ipynb

## only keep specific files from model/
!model/mask2former
!model/mask2former/pixel_decoder
model/mask2former/pixel_decoder/*
!model/SAM2/sam2/modeling/
model/SAM2/sam2/modeling/backbones
!model/SAM2/sam2/utils/
model/SAM2/sam2/utils/*
!model/SAM2/sam2/utils/misc.py

model/SAM2/*
!model/SAM2/sam2/
model/SAM2/sam2/*
!model/SAM2/sam2/modeling/
model/SAM2/sam2/modeling/backbones
!model/SAM2/sam2/utils/
model/SAM2/sam2/utils/*
!model/SAM2/sam2/utils/misc.py