*__pycache__*
# pretrained_weight/
demo/
pseudo_label/
*checkpoints*
*mytest*
*swattention_extension*
*png*
*pth*

## files in needle_seg_det
*loss*
anchors.py
*evaluation*
*test*
*train*
*pseudolabel*
model/SAM2
*demo*
*kfold*
post_processing.py
visualization.py
inference.ipynb

## only keep specific files from model/
!model/mask2former
# model/SAM2/*
# !model/SAM2/sam2/
# model/SAM2/sam2/*
# !model/SAM2/sam2/modeling/
# model/SAM2/sam2/modeling/backbones
# !model/SAM2/sam2/utils/
# model/SAM2/sam2/utils/*
# !model/SAM2/sam2/utils/misc.py